button{
    border-radius:10px;
    padding:10px;
    color:red;
    
    }
    body{
        background-color:lightslategray;
    }
    #import{
        color:red;
    }
    #impor{
        color: brown;
    }

    